{% set label = label|default('') %}
{% set labelTooltip = labelTooltip|default('') %}

{% set name = name|default('') %}
{% set value = value|default('') %}
{% set type = type|default('date') %}
{% set required = required|default(false) %}
{% set disabled = disabled|default(false) %}
{% set readonly = readonly|default(false) %}
{% set id = 'input-' ~ random() %}

<div class="form-group">
    <div class="row row--pad"><div class="col col--xs-12 col--md-6">
        {% include 'partials/form/label.twig' with ({
            'text': label,
            'tooltip': labelTooltip,
            'attrs': {
                'for': id
            }
        }) %}

        <div class="input-group">
            <div class="input-group__input form-control form-control--input form-control--date">
                {# Real date input #}
                <input
                    id="{{ id }}"
                    name="{{ name }}"
                    type="hidden" 
                    value="{{ value }}"
                    {% if required %}required{% endif %}
                    {% if disabled %}disabled{% endif %}
                    {% if readonly %}readonly{% endif %}
                    />

                {# Text date #}
                <input id="{{ id }}" type="text" readonly value="{{ value|date('j F Y, H:i') }}" />
            </div>
            <label class="form-label input-group__icon" for="{{ id }}">
                {{ icon('calendar', {width: 32, height: 32, 'aria-label': 'Calendar'}) }}
            </label>
        </div>
    </div></div>
</div>
