{% from 'macros/icon.twig' import icon %}

{% set name = name|default('') %}
{% set value = value|default('') %}
{% set required = required|default(false) %}
{% set disabled = disabled|default(false) %}
{% set readonly = readonly|default(false) %}
{% set id = id|default('input-' ~ random()) %}


<div class="input-group input-group--focusable"
    data-plugin="datetimepicker"
    data-datetimepicker='{
        "pickTime":true,
        "pickDate":true,
        "useCurrent":true,
        "minDate":"1900\/1\/1",
        "maxDate":null,
        "showToday":true,
        "language":"{{ locale|default('en') }}",
        "defaultDate":"",
        "disabledDates":[],
        "enabledDates":[],
        "icons":{"time":"fa fa-clock-o","date":"fa fa-calendar","up":"fa fa-chevron-up","down":"fa fa-chevron-down"},
        "useStrict":false,
        "sideBySide":false,
        "daysOfWeekDisabled":[],
        "collapse":true,
        "calendarWeeks":false,
        "viewMode":"days",
        "minViewMode":"days",
        "useMinutes":true,
        "useSeconds":true,
        "minuteStepping":1
    }'
>
    <div class="input-group__input form-control form-control--input form-control--date">
        <input
            id="{{ id }}"
            type="text"
            name="{{ name }}"
            value="{{ value|date('Y-m-d H:i:s') }}"
            data-date-format="YYYY-MM-DD hh:mm:ss"
            {% if readonly %}readonly{% endif %}
        />
    </div>
    <label class="form-label input-group__icon" for="{{ id }}">
        {{ icon('calendar', {width: 32, height: 32, 'aria-label': 'Calendar'}) }}
    </label>

</div>
