{% set name = name|default('') %}
{% set value = value|default('') %}
{% set values = values|default([]) %}
{% set required = required|default(false) %}
{% set disabled = disabled|default(false) %}
{% set readonly = readonly|default(false) %}
{% set id = id|default('input-' ~ random()) %}

<div class="form-control form-control--select">
    <select
        id="{{ id }}"
        name="{{ name }}"
        data-plugin="select2"
        {% if required %}required{% endif %}
        {% if disabled %}disabled{% endif %}
        {% if readonly %}readonly{% endif %}
    >
        {% for valueItem in values %}
            <option
                value="{{ valueItem.id }}"
                {% if valueItem.id == value %}selected{% endif %}
                {% if valueItem.image %}data-image="{{ valueItem.image }}"{% endif %}
            >{{ valueItem.text }}</option>
        {% endfor %}
    </select>
</div>