{% macro form_widget_image_list (attr) -%}
    {% from 'macros/icon.twig' import icon %}

    {% set attr = attr|default({}) %}
    {% set widget_attr = attr.attr|default({}) %}

    {% set inputId = attr.id|default([]) %}
    {% set editable = attr.editable|default([]) %}
    
    {% set readonly = attr.readonly|default(false) %}
    {% set disabled = attr.disabled|default(false) %}
    {% set value = attr.value|default([]) %}
    {% set full_name = attr.full_name|default([]) %}

    {% set hasEditable = editable is not empty %}
    
    <div class="image-list {% if readonly or disabled %}image-list--disabled{% endif %}"
        {% if not readonly and not disabled %}
            data-plugin="sortableList imageList"

            {# Sortable options #}
            data-sortable-list-handle-selector=""
            data-sortable-list-list-selector=".js-image-list-list"
            data-sortable-list-force-start-selector=".js-image-list-force-start"
            data-sortable-list-force-end-selector=".js-image-list-force-end"
            data-sortable-list-filter-selector=".js-image-list-not-draggable"
            data-sortable-list-cancel-selector=".js-image-list-not-draggable"
            data-sortable-list-draggable-selector=".js-image-list-item"

            {# Image list options #}
            {% if widget_attr.min|default(0) %}data-image-list-min="{{ widget_attr.min }}"{% endif %}
            {% if widget_attr.max|default(0) %}data-image-list-max="{{ widget_attr.max }}"{% endif %}
        {% endif %}
    >
        <ol class="image-list__list js-image-list-list">
            {% for item in value %}
                {% set index = loop.index0 %}
                {% set id = item.id|default('') %}
                {% set filename = item.filename|default('') %}
                {% set thumbnail = item.thumbnail|default('') %}
                {% set url = item.url|default('') %}
                {% set hasEditableValues = false %}

                {%- if filename == '' -%}
                    {% set filename = url|split('/')|slice(0, -1) %}
                {%- endif -%}

                {% for editableInput in editable %}
                    {% if item[editableInput.name]|default('') %}
                        {% set hasEditableValues = true %}
                    {% endif %}
                {% endfor %}

                {# Server-side template #}
                <li class="image-list__list__item image-item js-image-list-item" aria-label="Image {{ filename }}" data-id="{{ id }}">
                    
                    <input type="hidden" name="{{ full_name }}[{{ index }}][id]" value="{{ id }}" {% if disabled %}disabled{% endif %} />
                    <input type="hidden" name="{{ full_name }}[{{ index }}][order]" value="{{ index }}" {% if disabled %}disabled{% endif %} />

                    <div class="image-item__sizer"></div>
                    <div class="image-item__image">
                        <img class="js-image-list-thumbnail" src="{{ thumbnail|default(url) }}" alt="{{ filename }}" draggable="false" {% if thumbnail and url %}data-full-image-url="{{ url }}"{% endif %} onerror="this.src='/assets/images/file-icons/unknown.png'" />
                    </div>
                    <div class="image-item__controls ui-gray">
                        <div class="group group--2">
                            {# Meta button shown on readonly #}
                            {% if hasEditable and not disabled and (not readonly or hasEditableValues) %}
                                <a
                                    role="button"
                                    tabindex="0"
                                    class="btn btn--tetriary btn--shadow btn--square btn--pill js-image-list-not-draggable {% if hasEditableValues %}is-highlighted{% endif %}"
                                    aria-label="Change image information"

                                    data-plugin="editable"
                                    href="#{{ inputId }}-editable"
                                ><span class="btn__content">
                                    {{ icon('note', {width: 32, height: 32}) }}
                                </span></a>

                                {# Editable hidden inputs which hold values #}
                                {% for editableItem in editable %}
                                    {% set value = item[editableItem.name]|default('') %}
                                    <input type="hidden" name="{{ full_name }}[{{ index }}][{{ editableItem.name }}]" value="{{ value }}" />
                                {% endfor %}
                            {% endif %}

                            {% if not readonly and not disabled %}
                                <a role="button" tabindex="0" class="btn btn--tetriary btn--shadow btn--square btn--pill js-image-list-not-draggable js-image-list-edit group__right" aria-label="Change image" href="/media-modal.html"><span class="btn__content">
                                    {{ icon('edit', {width: 32, height: 32}) }}
                                </span></a>
                                <a role="button" tabindex="0" class="btn btn--tetriary btn--shadow btn--square btn--pill js-image-list-not-draggable js-image-list-delete" aria-label="Remove image"><span class="btn__content">
                                    {{ icon('delete', {width: 32, height: 32}) }}
                                </span></a>
                            {% endif %}
                        <div>
                    </div>
                </li>
            {% endfor %}

            {# Client-side template #}
            {% if not readonly and not disabled %}
                <script type="text/template" data-template-variable="image">
                    <li class="image-list__list__item image-item js-image-list-item" aria-label="Image <%- image.filename %>" data-id="<%- image.id %>">

                        <input type="hidden" name="{{ full_name }}[<%- image.index %>][id]" value="<%- image.id %>" />
                        <input type="hidden" name="{{ full_name }}[<%- image.index %>][order]" value="<%- image.index %>" />

                        <div class="image-item__sizer"></div>
                        <div class="image-item__image">
                            <% if (image.thumbnail) { %>
                                {# Thumbnail image #}
                                <img src="<%- image.thumbnail %>" alt="<%- image.filename %>" draggable="false" <% if (image.url) { %>data-full-image-url="<%- image.url %>"<% } %> onerror="this.src='/assets/images/file-icons/unknown.png'" />
                            <% } else if (image.url) { %>
                                {# Full image, this is not optimal due to possibly large image sizes #}
                                <img src="<%- image.url %>" alt="<%- image.filename %>" draggable="false" onerror="this.src='/assets/images/file-icons/unknown.png'" />
                            <% } %>
                        </div>
                        <div class="image-item__controls ui-gray">
                            <div class="group group--2">
                                {% if hasEditable %}
                                    <a
                                        role="button"
                                        tabindex="0"
                                        class="btn btn--tetriary btn--shadow btn--square btn--pill js-image-list-not-draggable"
                                        aria-label="Change image information"

                                        data-plugin="editable"
                                        href="#{{ inputId }}-editable"
                                    ><span class="btn__content">
                                        {{ icon('note', {width: 32, height: 32}) }}
                                    </span></a>

                                    {# Editable hidden inputs which hold values #}
                                    {% for editableItem in editable %}
                                        <input type="hidden" name="{{ full_name }}[<%- image.index %>][{{ editableItem.name }}]" value="" />
                                    {% endfor %}
                                {% endif %}

                                <a role="button" tabindex="0" class="btn btn--tetriary btn--shadow btn--square btn--pill group__right js-image-list-not-draggable js-image-list-edit" aria-label="Change image" href="/media-modal.html"><span class="btn__content">
                                    {{ icon('edit', {width: 32, height: 32}) }}
                                </span></a>
                                <a role="button" tabindex="0" class="btn btn--tetriary btn--shadow btn--square btn--pill js-image-list-not-draggable js-image-list-delete" aria-label="Remove image"><span class="btn__content">
                                    {{ icon('delete', {width: 32, height: 32}) }}
                                </span></a>
                            <div>
                        </div>
                    </li>
                </script>
            {% endif %}


            {% if not readonly and not disabled %}
                <li class="image-list-control-item js-image-list-force-end">
                    <div class="image-list-control-item__sizer"></div>
                    <a role="button" tabindex="0" href="/media-modal.html" class="image-list-control-item__content btn-container js-image-list-add">
                        <span class="btn btn--tetriary btn--square btn--pill"><span class="btn__content">
                            {{ icon('add', {width: 32, height: 32}) }}
                        </span></span>
                        <span class="image-list-control-item__content__text">Add Images</span>
                    </a>
                </li>
            {% endif %}
        </ol>
    </div>

    {# Editable popup (dropdown) form content #}
    {% if editable %}
        {% include 'partials/editable.twig' with {
            id: inputId ~ '-editable',
            form: editable
        } %}
    {% endif %}
{%- endmacro %}