{% from 'macros/icon.twig' import icon %}
{% set text = text|default('Add Section') %}
{% set sections = sections|default([]) %}

{% set pages = pages|default(['Homepage', 'About']) %}

{% if sections|length > 1 %}
    {# Add section dropdown #}
    {% set uniqueId = 'dropdown-' ~ random() %}

    <div class="dropdown"
         data-plugin="dropdown dropdownPreview"
         data-dropdown-placement="top-start"
         data-dropdown-trigger="click"
    >
        <button type="button" class="dropdown__toggle btn btn--dropdown btn--pill" aria-expanded="false" id="{{ uniqueId }}">
            <span class="btn__content">
                <span>{{ text }}</span>
                {{ icon('dropdown-arrow', {width: 10, height: 10}) }}
            </span>
        </button>

        <div class="dropdown__menu d-none" aria-labelledby="{{ uniqueId }}">
            <div class="dropdown__menu__scrollable scrollbar">
                <ul class="dropdown__menu__content">
                    {% for page in pages %}
                        {% if loop.index0 %}
                            <li class="dropdown__divider-min"></li>
                        {% endif %}
                        <li>
                            <span class="dropdown__title">{{ page }}</span>
                        </li>
                        {% for section in sections %}
                            <li>
                                <a role="button" tabindex="0" class="dropdown__item js-dropdown-close js-collection-add"
                                   data-collection-type="{{ section.id }}"
                                   data-collection-html="{{ section.html|escape('html_attr') }}"
                                   data-preview-image="{{ section.preview }}"
                                >
                                    {{ section.text }}
                                </a>
                            </li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
            <div class="dropdown__preview d-none"></div>
        </div>
    </div>
{% elseif sections|length == 1 %}
    {# Add single section button #}
    {% for section in sections %}
        <button type="button" class="btn btn--tetriary btn--pill js-collection-add" data-collection-type="{{ section.id }}" data-collection-html="{{ section.html|escape('html_attr') }}">
            <span class="btn__content">
                {{ icon('add-small', {width: 10, height: 10}) }}
                <span>Add {{ section.text }}</span>
            </span>
        </button>
    {% endfor %}
{% endif %}
