{% from 'macros/icon.twig' import icon %}

{# Id referencing content for which section header is for #}
{% set id = id|default(null) %}

{# Header size #}
{% set size = size|default(null) %}
{% set headerTagName = size == 'small' ? 'h3' : 'h2' %}

{# Title and subtitle #}
{% set title = title|default('') %}
{% set subtitle = subtitle|default('') %}

{# Draggable / sortable #}
{% set draggable = draggable|default(false) %}

{# Active toggle #}
{% set withActiveToggle = withActiveToggle|default(false) %}
{% set active = active|default(false) %}

{# Accordion #}
{% set withAccordion = withAccordion|default(false) %}
{% set accordionExpandedClassName = accordionExpandedClassName|default('') %}
{% set expanded = expanded|default(false) %}

{# Show options dropdown, eg. Edit, Delete #}
{% set withOptions = withOptions|default(false) %}

{# A text with "1", "2", ... near the header counting list items #}
{% set withCardListCounter = withCardListCounter|default(false) %}

{# Show editor button #}
{% set withEditor = withEditor|default(false) %}

{# Show Edit button which opens modal #}
{% set withEdit = withEdit|default(false) %}
{% set editTarget = editTarget|default(false) %}

<header class="card__header {% if withAccordion %}accordion__header {% if expanded and accordionExpandedClassName %}{{ accordionExpandedClassName }}{% endif %}{% endif %}"
    {% if withActiveToggle %}
        {# Active state plugin shows / hides element, updates tooltip when section state is changed to active / inactive #}
        data-plugin="activeState"
    {% endif %}
>
    
    {# Draggable icon #}
    {% if draggable %}
        <a class="card__header__draggable js-sortable-list-item-handle" title="Drag to re-order sections or use arrow up and arrow down keys" tabindex="0" role="button">
            {{ icon('draggable', {width: 6, height: 16}) }}
        </a>
    {% endif %}
    
    <div class="group group--middle group--nowrap group--3">
        {# Counter #}
        {% if withCardListCounter %}
            <div class="btn btn--tetriary btn--square btn--pill is-decorative" aria-hidden="true"><span class="btn__content card__header__counter"></span></div>
        {% endif %}

        {# Title #}
        <{{ headerTagName }} class="group__fill text-truncate {% if subtitle %}text-color-small{% endif %}" id="{{ id }}Title">
            {% if subtitle == false %}
                {{ title }}
            {% else %}
                <span class="text-color-heading">{{ title }}</span>
                    {% if subtitle == true %}
                        <span class="text-style-default d-none">&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<span class="js-section-title-text"></span></span>
                    {% else %}
                        <span class="text-style-default">&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<span class="js-section-title-text">{{ subtitle }}</span></span>
                    {% endif %}
                </span></span>
            {% endif %}
        </{{ headerTagName }}>

        <div><div class="group group--nowrap group--middle group--5">
            {# Unsaved change dot / indicator #}
            {% if withActiveToggle %}
                <input type="checkbox" class="sr-only js-active-state-input" id="{{ id }}-active" name="{{ id }}[active]" value="1" {% if active %}checked{% endif %} />
                <label for="{{ id }}-active" class="js-active-state-tooltip {% if draggable %}card__is-hidden-dragging{% endif %} status" aria-hidden="true"
                    data-plugin="tooltip" data-tooltip-trigger="hover" data-tooltip-placement="left"
                    {% if active %}
                        title="Section is enabled, click to disable"
                    {% else %}
                        title="Section is disabled, click to enable"
                    {% endif %}
                    data-active-state-active-text="Section is enabled, click to disable"
                    data-active-state-inactive-text="Section is disabled, click to enable">
                        Enable / Disable
                </label>
            {% endif %}

            {# Buttons #}
            {% if withOptions or withAccordion or withEditor or withEdit %}
                <div {% if draggable %}class="card__is-hidden-dragging"{% endif %}><div class="group group--2 group--nowrap">

                    {# WYSIWYG editor button #}
                    {% if withEditor %}
                        <button type="button" class="btn btn--primary btn--square btn--pill" title="Open visual editor"
                            href="page-content-visual-eidtor-modal.html"
                            data-plugin="ajaxModalTrigger"
                        ><span class="btn__content">
                            {{ icon('editor', {width: 32, height: 32}) }}
                        </span></button>
                    {% endif %}
                    
                    {# Options dropdown #}
                    {% if withOptions %}
                        <div class="dropdown" data-plugin="dropdown" data-dropdown-placement="bottom" data-dropdown-container=".modal, body">
                            <button type="button" class="dropdown__toggle btn btn--tetriary btn--square btn--pill" title="Section options" aria-expanded="false" id="{{ id }}Options"><span class="btn__content">
                                {{ icon('more', {width: 14, height: 4}) }}
                            </span></button>
                            
                            <div class="dropdown__menu d-none" aria-labelledby="{{ id }}Options">
                                <ul class="dropdown__menu__content">
                                    {% if withActiveToggle %}
                                        <li class="js-active-state-hidden-active {% if active %}d-none{% endif %}">
                                            <a class="dropdown__item js-active-state-set-active js-dropdown-close" role="button" tabindex="0">
                                                Enable
                                            </a>
                                        </li>
                                        <li class="js-active-state-visible-active {% if not active %}d-none{% endif %}">
                                            <a class="dropdown__item js-active-state-set-inactive js-dropdown-close" role="button" tabindex="0">
                                                Disable
                                            </a>
                                        </li>
                                    {% endif %}

                                    <li>
                                        <a class="dropdown__item js-dropdown-close" role="button" tabindex="0">
                                            Delete
                                        </a>
                                    </li>

                                    {% if withAccordion %}
                                        <li>
                                            <a class="dropdown__item js-dropdown-close js-accordion-collapse-siblings" role="button" tabindex="0">
                                                Collapse other sections
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}

                    {# Edit button #}
                    {% if withEdit %}
                        <a
                            title="Edit section"
                            class="btn btn--tetriary btn--square btn--pill"
                            tabindex="0"
                            role="button"
                            href="{{ editTarget }}"
                        ><span class="btn__content">
                            {{ icon('edit', {width: 32, height: 32}) }}
                        </span></a>
                    {% endif %}
                    
                    {# Accordion button #}
                    {% if withAccordion %}
                        <button
                            type="button"
                            title="Edit section"
                            class="btn btn--tetriary btn--square btn--pill"
                            aria-expanded="{% if expanded %}true{% else %}false{% endif %}"
                            aria-controls="{{ id }}"
                        ><span class="btn__content">
                            {{ icon('accordion', {width: 32, height: 32}) }}
                        </span></button>
                    {% endif %}
                </div></div>
            {% endif %}
        </div></div>
    </div>
</header>
