{% macro list(selectmode) %}
    <div class="box box-primary">
        <div class="box-body no-padding media-gridlist-container">

            <ul class="media-gridlist media-gridlist--scrollable is-loading" data-widget="media-gridlist">

                <li class="media-gridlist-empty">
                    <p>There are no files</p>
                </li>

                <li class="media-gridlist-loading">
                    <i class="fa fa-refresh fa-spin"></i>
                </li>

                <li class="media-gridlist-drop">
                    <p>Drop files here to upload to this folder</p>
                </li>

                {# Client-side template for item #}
                <script type="text/template">
                    <li class="media-gridlist-box" data-id="<%= data.id %>">
                        <div class="media-gridlist-box-inner">

                            <span class="media-gridlist-box-thumbnail">
                                <% if (data.image) { %>
                                    <img src="<%= data.image %>" alt="" />
                                <% } %>
                            </span>
                            <span class="media-gridlist-box-label">
                                <%= data.filename %>
                            </span>

                        </div>

                        <div class="media-gridlist-popover hidden">
                            <p>
                                <label class="media-gridlist-popover-label">{{ 'file_size' | trans({}, 'OctaveCMSBundle') }}:</label>
                                <span class="media-gridlist-popover-value"><%= formatSize(data.size) %></span>
                            </p>
                            <% if (data.width || data.height) { %>
                                <p>
                                    <label class="media-gridlist-popover-label">{{ 'dimensions' | trans({}, 'OctaveCMSBundle') }}:</label>
                                    <span class="media-gridlist-popover-value"><%= data.width %>x<%= data.height %></span>
                                </p>
                            <% } %>

                            <p class="media-gridlist-popover-buttons">
                                <button type="button" class="btn btn-primary js-media-replace">
                                    <span class="fa fa-upload"></span>
                                    {{ 'replace' | trans({}, 'OctaveCMSBundle') }}
                                </button>
                                <button type="button" class="btn btn-danger js-media-remove">
                                    <span class="fa fa-trash-o"></span>
                                    {{ 'delete' | trans({}, 'OctaveCMSBundle') }}
                                </button>
                            </p>

                            <% if (data.image) { %>
                                <p class="media-gridlist-popover-buttons">
                                    <a class="btn btn-primary js-media-download js-selectable-ignore" download="a.jpg" href="<%= data.image %>">
                                        <span class="fa fa-download"></span>
                                        {{ 'download' | trans({}, 'OctaveCMSBundle') }}
                                    </a>
                                </p>
                            <% } %>

                            {% if selectmode %}
                                <p class="media-gridlist-popover-buttons">
                                    <button type="button" class="btn btn-primary js-media-select-opened">
                                        {{ 'select' | trans({}, 'OctaveCMSBundle') }}
                                    </button>
                                </p>
                            {% endif %}
                        </div>

                    </li>
                </script>

            </ul>

            <div class="js-media-gridlist-progress progress active progress-sm media-gridlist-progress media-gridlist-progress--hidden">
                <div class="progress-bar progress-bar-primary progress-bar-striped"></div>
            </div>

        </div>
    </div>
{% endmacro %}
