{% import 'VideInfraCMSBundle:Media:treeview.html.twig' as tree %}
{% import 'VideInfraCMSBundle:Media:gridlist.html.twig' as gridlist %}
{% import 'VideInfraCMSBundle:Media:filters.html.twig' as filters %}


<section>
    {{ filters.filters() }}

    <div class="sonata-ba-content">
        <div class="row">
            <div class="col-xs-6 col-md-3">
                {{ tree.navigate_child([root_category], admin, true, current_category_id, 1) }}
            </div>
            <div class="col-xs-12 col-md-9">
                {% set selectmode = true %}
                {{ gridlist.list(selectmode) }}
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary js-media-select-all">
            {{ 'select' | trans({}, 'VideInfraCMSBundle') }}
        </button>
    </div>
</section>


{# JS #}
<script>
    var API_ENDPOINTS = {
        'folderAdd':    '{{ path('media_category_add') }}',
        'folderRemove': '{{ path('media_category_remove') }}',
        'folderMove':   '/bundles/videinfracms/media/json/folder-move.json',
        'filesList':    '{{ path('media_item_list') }}',
        'filesReplace': '/bundles/videinfracms/media/json/files-replace.json',
        'filesUpload':  '/bundles/videinfracms/media/json/files-upload.json',
        'filesRemove':  '/bundles/videinfracms/media/json/files-remove.json',
        'filesMove':    '/bundles/videinfracms/media/json/files-move.json',
    };

    var MEDIA_INITIAL_STATE = {
        'tree': {
            'root': {{ root_category|json_encode|raw }}
        },
        'categoryId': {{ current_category_id|default(root_category.id)|json_encode|raw }}
    };
</script>
<script src="{{ asset('bundles/videinfracms/media/dist/main.js') }}"></script>

{# Styles #}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/videinfracms/media/dist/main.css') }}" />