{% import 'OctaveCMSBundle:Media:treeview.html.twig' as tree %}
{% import 'OctaveCMSBundle:Media:gridlist.html.twig' as gridlist %}
{% import 'OctaveCMSBundle:Media:filters.html.twig' as filters %}


<section>
    {{ filters.filters() }}

    <div class="sonata-ba-content">
        <div class="row">
            <div class="col-xs-6 col-md-3">
                {{ tree.navigate_child([root_category], admin, true, current_category_id, 1) }}
            </div>
            <div class="col-xs-12 col-md-9">
                {% set selectmode = true %}
                {{ gridlist.list(selectmode) }}
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary js-media-select-all">
            {{ 'select' | trans({}, 'OctaveCMSBundle') }}
        </button>
    </div>
</section>


{# JS #}
<script>
    var API_ENDPOINTS = {
        'folderAdd':    '{{ path('media_category_add') }}',
        'folderRemove': '{{ path('media_category_remove') }}',
        'folderMove':   '{{ path('media_category_move') }}',
        'filesList':    '{{ path('media_item_list') }}',
        'filesReplace': '{{ path('media_item_replace') }}',
        'filesUpload':  '{{ path('media_item_upload') }}',
        'filesRemove':  '{{ path('media_item_remove') }}',
        'filesMove':    '{{ path('media_item_move') }}',
    };

    var MEDIA_INITIAL_STATE = {
        'tree': {
            'root': {{ root_category|json_encode|raw }}
        },
        'categoryId': {{ current_category_id|default(root_category.id)|json_encode|raw }}
    };
</script>
<script src="{{ asset('bundles/octavecms/media/dist/main.js') }}"></script>

{# Styles #}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/octavecms/media/dist/main.css') }}" />