{% macro navigate_child(collection, admin, root, current_category_id, depth) %}
    {% import _self as tree %}

    <ul{% if root %} class="sonata-tree sonata-tree--small sonata-tree--toggleable" data-widget="media-treeview"{% endif %}>
        {% for element in collection if element is not null %}
            <li>
                <div class="sonata-tree__item{% if element.id == current_category_id %} is-active{% endif %}"{% if depth < 2 %} data-treeview-toggled{% endif %} data-id="{{ element.id }}">
                    <i class="fa fa-caret-right {% if not element.parent and not root %}hidden{% endif %}" data-treeview-toggler></i>
                    <a class="sonata-tree__item__edit" href="{{ url(app.request.attributes.get('_route'), app.request.query.all|merge({category: element.id})) }}">{{ element.name }}</a>

                    <div class="media-treeview-drop"></div>
                </div>

                {% if element.children|length %}
                    {{ tree.navigate_child(element.children, admin, false, current_category_id, depth + 1) }}
                {% endif %}
            </li>
        {% endfor %}

        {% if root %}
            {{ tree.navigate_child_js_template() }}
        {% endif %}
    </ul>
{% endmacro %}

{% macro navigate_child_js_template () %}
    <script type="text/template">
        <li>
            <div class="sonata-tree__item <% if (currentCategoryId == data.id) { %> is-active<% } %>" <% if (depth < 2) { %>data-treeview-toggled<% } %> data-id="<%= data.id %>">
                <i class="fa fa-caret-right <% if (!data.parent && !root) { %>hidden<% } %>" data-treeview-toggler></i>
                <a class="sonata-tree__item__edit" href="#"><%= data.name %></a>

                <div class="media-treeview-drop"></div>
            </div>

            <% if (data.children && data.children.length) { %>
                <ul>
                    <% for (var i = 0; i < data.children.length; i++) { %>
                        <%= template({template: template, data: data.children[i], currentCategoryId: currentCategoryId, root: false, depth: depth + 1}) %>
                    <% } %>
                </ul>
            <% } %>
        </li>
    </script>
{% endmacro %}