{% from 'macros/icon.twig' import icon %}

{# "General" form #}
<div class="form-group">
    <label class="form-label" for="contentGeneralTitle">Article Title</label>
    <div class="input-group">
        <div class="input-group__input form-control form-control--input input-group__merge">
            <input id="contentGeneralTitle" name="title" type="text" required maxlength="167" value="Виды коммерческой недвижимости: сектора, типы и форматы" />
        </div>
        <label class="form-label input-group__text input-group__merge text-small text-color-small" for="contentGeneralTitle">
            167
        </label>
    </div>
</div>

{# Category #}
<div class="form-group">
    <div class="row row--pad"><div class="col col--xs-12 col--md-6">
        <label class="form-label" for="contentGeneralCategory">Category</label>
        <div class="form-control form-control--select">
            <select id="contentGeneralCategory" name="category" required data-plugin="select2">
                <option value="a" selected>Основы</option>
                <option value="b">Lorem ipsum</option>
                <option value="c">Dolor sit amet</option>
            </select>
        </div>
    </div></div>
</div>

{# Author #}
<div class="form-group">
    <div class="row row--pad"><div class="col col--xs-12 col--lg-6">
        <label class="form-label" for="contentGeneralAuthor">Author <small>(Optional)</small></label>
        <div class="form-control form-control--select">
            <select id="contentGeneralAuthor" name="category" required data-plugin="select2">
                <option data-image="/assets/images/temp/select-user.png" value="a" selected>Андрей Богданов</option>
                <option data-image="/assets/images/temp/select-user.png" value="b">Lorem ipsum</option>
                <option data-image="/assets/images/temp/select-user.png" value="c">Dolor sit amet</option>
            </select>
        </div>
    </div></div>
</div>


<div class="row row--pad form-group">
    <div class="col col--xs-12 col--lg-6">

        {# Image #}
        <label class="form-label" for="contentGeneralThumbnail">Thumbnail</label>

        <div class="form-control-image">
            <a class="form-control-image__preview ui-gray btn-container" role="button" aria-label="Replace image" tabindex="0">

                <img class="form-control-image__preview__image" src="/assets/images/temp/image-thumb-1.png" alt="" />

                <span class="form-control-image__preview__icon btn btn--square btn--pill btn--shadow btn--tetriary"><span class="btn__content">
                    {{ icon('edit', {width: 32, height: 32}) }}
                </span></span>
            </a>
            <div class="form-control-image__content">
                <span class="form-control-image__content__title">
                    academy_thumb_01.jpg
                </span>
                <a class="form-control-image__content__link" href="/assets/images/temp/image-thumb-1.png" target="_blank">
                    Preview
                </a>

                <span class="form-control-image__content__spacer"></span>
                <span class="form-control-image__content__meta">
                    620×620
                </span>


                <div class="form-control-image__content__action">
                    <a class="btn btn--square btn--pill btn--tetriary" role="button" tabindex="0" aria-label="Remove image"><span class="btn__content">
                        {{ icon('delete', {width: 32, height: 32}) }}
                    </span></a>
                </div>
            </div>
        </div>

    </div>
    <div class="col col--xs-12 col--lg-6 form-group mt-lg-0">

        {# Image #}
        <label class="form-label" for="contentGeneralBackground">Background Image</label>

        <div class="form-control-image">
            <a class="form-control-image__preview ui-gray btn-container" role="button" aria-label="Replace image" tabindex="0">

                <img class="form-control-image__preview__image" src="/assets/images/temp/image-thumb-2.png" alt="" />

                <span class="form-control-image__preview__icon btn btn--square btn--pill btn--shadow btn--tetriary"><span class="btn__content">
                    {{ icon('edit', {width: 32, height: 32}) }}
                </span></span>
            </a>
            <div class="form-control-image__content">
                <span class="form-control-image__content__title">
                    academy_background_01.jpg
                </span>
                <a class="form-control-image__content__link" href="/assets/images/temp/image-thumb-2.png" target="_blank">
                    Preview
                </a>

                <span class="form-control-image__content__spacer"></span>
                <span class="form-control-image__content__meta">
                    1620×675
                </span>


                <div class="form-control-image__content__action">
                    <a class="btn btn--square btn--pill btn--tetriary" role="button" tabindex="0" aria-label="Remove image"><span class="btn__content">
                        {{ icon('delete', {width: 32, height: 32}) }}
                    </span></a>
                </div>
            </div>
        </div>

    </div>
</div>


{# URL #}
<div class="form-group">
    <label class="form-label" for="contentGeneralUrl">
        URL
        <span class="tooltip-icon" data-plugin="tooltip" data-tooltip-placement="right" title="Enim reprehenderit reprehenderit minim nisi eu deserunt elit sit nulla.">?</span>
    </label>
    <div class="input-group">
        <label class="form-label input-group__text input-group__merge text-medium" for="contentGeneralUrl">
            academy/
        </label>
        <div class="input-group__input input-group__merge form-control form-control--input">
            <input id="contentGeneralUrl" name="url" type="text" required value="vidy-kommercheskoi-nedvizhimosti-sektora-tipy-i-formaty" />
        </div>
    </div>
</div>

{# Date #}
<div class="form-group">
    <div class="row row--pad"><div class="col col--xs-12 col--md-6">
        <label class="form-label" for="contentGeneralDate">Publication date</label>
        <div class="input-group">
            <div class="input-group__input form-control form-control--input">
                <input id="contentGeneralDate" name="date" type="text" required value="19 мая 2020, 10:00" />
            </div>
            <label class="form-label input-group__icon" for="contentGeneralDate">
                {{ icon('calendar', {width: 32, height: 32, 'aria-label': 'Calendar'}) }}
            </label>
        </div>
    </div></div>
</div>