{% from 'macros/icon.twig' import icon %}

{% set id = id|default('') %}
{% set language = language|default('en') %}

{# "Add Section Below" item and dropdown #}
<li>
    <div class="dropdown dropdown--no-arrow"
        data-plugin="dropdown dropdownPreview"
        data-dropdown-placement="left-start"
        data-dropdown-trigger="hover"
        data-dropdown-reference-selector="#{{ id }}OptionsMenu" {# Arrow points at parent #}
        data-dropdown-offset='[0, 8]'
    >
        <a class="dropdown__item dropdown__toggle" aria-expanded="false" id="{{ id }}-add-section" role="button" tabindex="0">
            <span class="dropdown__item__content">
                {{ icon('dropdown-add', {width: 16, height: 16}) }}
                <span>Add Section Below</span>
            </span>
            {{ icon('dropdown-arrow', {width: 10, height: 10}) }}
        </a>
        <div class="dropdown__menu d-none" aria-labelledby="{{ id }}-add-section">
            <div class="dropdown__menu__scrollable scrollbar">
                <ul class="dropdown__menu__content">
                    {% for section in sections %}
                        {% if section.type == 'group' %}
                            {% if loop.index0 %}
                                <li class="dropdown__divider-min"></li>
                            {% endif %}
                            <li>
                                <span class="dropdown__title">{{ section.text }}</span>
                            </li>
                            {% for section in section.children %}
                                <li>
                                    <a role="button" tabindex="0" class="dropdown__item js-dropdown-close js-collection-add"
                                        data-collection-type="{{ section.type }}"
                                        data-collection-language="{{ language }}"
                                        data-collection-reference="#{{ id }}" {# Element after which to insert #}

                                        {% if section.preview|default(false) %}
                                            data-preview-image="{{ section.preview }}"
                                            data-preview-alt="{{ section.text }}"
                                        {% endif %}
                                    >
                                        {{ section.text }}
                                    </a>
                                </li>
                            {% endfor %}
                        {% else %}
                            <li>
                                <a role="button" tabindex="0" class="dropdown__item js-dropdown-close js-collection-add"
                                    data-collection-type="{{ section.type }}"
                                    data-collection-language="{{ language }}"
                                    data-collection-reference="#{{ id }}" {# Element after which to insert #}

                                    {% if section.preview|default(false) %}
                                        data-preview-image="{{ section.preview }}"
                                        data-preview-alt="{{ section.text }}"
                                    {% endif %}
                                >
                                    {{ section.text }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

            {# Section preview #}
            <div class="dropdown__preview d-none js-dropdown-preview">
                <div class="dropdown__preview__img">
                    <img src="/assets/images/px.gif" alt="">
                </div>
            </div>
        </div>
    </div>
</li>
