{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% import 'VideInfraCMSBundle:Block:macros.html.twig' as blocks %}


{% block sonata_page_content_header %}

    <nav class="navbar navbar-default" role="navigation" style="width: auto;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    {% if isNew %}
                        {{ 'add_new' | trans({}, 'VideInfraCMSBundle') }}
                    {% else %}
                        {{ 'edit' | trans({}, 'VideInfraCMSBundle') }} "{{ page.title }}"
                    {% endif %}
                </a>
            </div>

            <div class="navbar-collapse">
                <div class="navbar-left"></div>

                <ul class="nav navbar-blocks navbar-nav navbar-right">

                    {# New Text block template #}
                    {# This is the same HTML as in block list, but with name containing __name__ #}
                    {% set input_block_html %}
                        {{ blocks.block_start('Line input') }}
                            <input type="hidden" name="blocks[__name__][order]" value="__order__" />

                            {# Standard form_row(...) but with name containing __name__ #}
                            <div class="form-group" id="sonata-ba-field-container-blocks___name___text"><label class="control-label" for="blocks___name___text">Text</label><div class="sonata-ba-field"><input type="text" id="blocks___name___text" name="blocks[__name__][text]" maxlength="64" class="form-control"></div></div>

                            {# ... other block inputs ... #}

                        {{ blocks.block_end() }}
                    {% endset %}

                    {# New Text block link #}
                    <li>
                        <a class="btn btn-app"
                            data-widget="blocks-add"
                            data-prototype="{{ input_block_html|e('html_attr') }}">

                            <i class="fa fa-file-o" aria-hidden="true"></i>
                            <span>Line input</span>
                        </a>
                    </li>


                    {# New TextArea block template #}
                    {# This is the same HTML as in block list, but with name containing __name__ #}
                    {% set text_block_html %}
                        {{ blocks.block_start('Text') }}
                            <input type="hidden" name="blocks[__name__][order]" value="__order__" />

                            {# Standard form_row(...) but with name and id containing __name__ #}
                            <div class="form-group" id="sonata-ba-field-container-blocks___name___text"><label class=" control-label" for="blocks___name___text">Text</label><div class="sonata-ba-field"><textarea id="blocks___name___text" name="blocks[__name__][text]" class="form-control"></textarea></div></div>

                            {# ... other block inputs ... #}
                        {{ blocks.block_end() }}
                    {% endset %}

                    {# New TextArea block link #}
                    <li>
                        <a class="btn btn-app"
                            data-widget="blocks-add"
                            data-prototype="{{ text_block_html|e('html_attr') }}">

                            <i class="fa fa-file-text-o" aria-hidden="true"></i>
                            <span>Text</span>
                        </a>
                    </li>


                    {# New CKEditor block template #}
                    {# This is the same HTML as in block list, but with name containing __name__ #}
                    {% set ckeditor_block_html %}
                        {{ blocks.block_start('CKEditor') }}
                            <input type="hidden" name="blocks[__name__][order]" value="__order__" />

                            {# Standard form_row(...) but with name containing __name__ #}
                            <div class="form-group" id="sonata-ba-field-container-blocks___name___text"><label class=" control-label" for="blocks___name___text">Text</label><div class="sonata-ba-field"><textarea id="blocks___name___text" name="blocks[__name__][text]"></textarea><script type="text/javascript">var CKEDITOR_BASEPATH = "/bundles/app/js/ckeditor/";</script><script type="text/javascript" src="/bundles/app/js/ckeditor/ckeditor.js?v=1501666090"></script><script type="text/javascript"> if (CKEDITOR.instances["blocks___name___text"]) { delete CKEDITOR.instances["blocks___name___text"]; } if (CKEDITOR.stylesSet.get("default") === null) { CKEDITOR.stylesSet.add("default", [{"name":"Lead","element":"p","attributes":{"class":"lead"}},{"name":"Lead simple","element":"p","attributes":{"class":"lead lead--simple"}},{"name":"Title","element":"h2","attributes":{"class":"h1"}},{"name":"Unordered small list","element":"ul","attributes":{"class":"list--small list--without-border"}}]); } CKEDITOR.replace("blocks___name___text", {"allowedContent":true,"bodyClass":"text","contentsCss":["\/assets\/stylesheets\/global.css","\/bundles\/app\/css\/ckeditor.css"],"height":460,"stylesSet":"default","format_ul":{"element":"ul","attributes":{"class":"list list-disc"}},"toolbar":[["Styles","Format"],["Bold","Italic","Underline","-","RemoveFormat"],["JustifyLeft","JustifyCenter","JustifyRight","JustifyBlock"],["NumberedList","BulletedList"],["Link","Unlink"],["Image","Table","HorizontalRule"],["Source","ShowBlocks","Maximize"],["Gallery"]],"language":"en","filebrowserUploadUrl":"\/admin\/ckeditor_upload"});</script></div></div>

                            {# ... other block inputs ... #}
                        {{ blocks.block_end() }}
                    {% endset %}

                    {# New CKEditor block link #}
                    <li>
                        <a class="btn btn-app"
                            data-widget="blocks-add"
                            data-prototype="{{ ckeditor_block_html|e('html_attr') }}">

                            <i class="fa fa-file-text-o" aria-hidden="true"></i>
                            <span>CKEditor</span>
                        </a>
                    </li>
                </ul>



                {% if not isNew %}
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown sonata-actions">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{{ 'actions' | trans({}, 'VideInfraCMSBundle') }} <b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a class="sonata-action-element" href="{{ path('admin_videinfra_cms_page_create_type', {type: page.type}) }}">
                                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                        {{ 'add_new' | trans({}, 'VideInfraCMSBundle') }}
                                    </a>
                                </li>
                                <li>
                                    <a class="sonata-action-element" href="{{ path('admin_videinfra_cms_page_list') }}">
                                        <i class="fa fa-list" aria-hidden="true"></i>
                                        {{ 'return_to_list' | trans({}, 'VideInfraCMSBundle') }}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                {% endif %}

            </div>
        </div>
    </nav>

{% endblock %}

{% block content %}

    {% form_theme form 'SonataAdminBundle:Form:form_admin_fields.html.twig' %}

    {{ form_start(form) }}

    {% for error in form.vars.errors %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            {{ error.message }}
        </div>
    {% endfor %}

    <div class="row">

        <div class="col-md-12">

            <div class="box box-primary">
                <div class="box-header"><h4>{{ 'general' | trans({}, 'VideInfraCMSBundle') }}</h4></div>
                <div class="box-body">
                    {% if isAdmin %}
                        {#{{ form_row(form.name) }}#}
                    {% endif %}

                    {{ form_row(form.title) }}
                    {{ form_row(form.active) }}
                    {{ form_row(form.path) }}

                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header"><h4>{{ 'seo' | trans({}, 'VideInfraCMSBundle') }}</h4></div>
                <div class="box-body">
                    {{ form_row(form.translations) }}
                </div>
            </div>
        </div>

    </div>

    {# Placeholder for blocks #}
    {{ blocks.block_list_start() }}

        <h4 class="blocks-list-empty-message">
            @TODO Message when there are no blocks
        </h4>

        {# Text block start #}
        {{ blocks.block_start('Line input') }}
            <input type="hidden" name="blocks[0][order]" value="0" />

            {# Standard form_row(...) but with name containing [0] #}
            <div class="form-group" id="sonata-ba-field-container-blocks_0_text"><label class="control-label" for="blocks_0_text">Text</label><div class="sonata-ba-field"><input type="text" id="blocks_0_text" name="blocks[0][text]" maxlength="64" class="form-control"></div></div>
        {{ blocks.block_end() }}

        {# TextArea block start #}
        {{ blocks.block_start('Text') }}
            <input type="hidden" name="blocks[1][order]" value="1" />

            {# Standard form_row(...) but with name containing [1] #}
            <div class="form-group" id="sonata-ba-field-container-blocks_[1]_text"><label class="control-label" for="blocks_[1]_text">Text</label><div class="sonata-ba-field"><textarea id="blocks_[1]_text" name="blocks[[1]][text]" class="form-control"></textarea></div></div>
        {{ blocks.block_end() }}

    {{ blocks.block_list_end() }}


    <div class="sonata-ba-form-actions well well-small form-actions">
        {% if isNew %}
            <button class="btn btn-success" type="submit" name="create_and_list" value="1">{{ 'create_and_list' | trans({}, 'VideInfraCMSBundle') }}</button>
            <button class="btn btn-success" type="submit" name="create_and_create" value="1">{{ 'create_and_create' | trans({}, 'VideInfraCMSBundle') }}</button>
        {% else %}
            <button class="btn btn-success" type="submit" name="update_and_list" value="1">{{ 'update_and_list' | trans({}, 'VideInfraCMSBundle') }}</button>
            <button class="btn btn-success" type="submit" name="update_and_edit" value="1">{{ 'update_and_edit' | trans({}, 'VideInfraCMSBundle') }}</button>
        {% endif %}
    </div>

    {{ form_end(form) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="/bundles/videinfracms/blocks/dist/main.css" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/bundles/videinfracms/blocks/dist/main.js"></script>
{% endblock %}