{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% import 'VideInfraCMSBundle:Block:macros.html.twig' as blocks %}

{% set blockTypes = form.blocks.vars.block_types %}

{% form_theme form 'SonataAdminBundle:Form:form_admin_fields.html.twig' 'VideInfraCMSBundle::fields.html.twig' %}

{% block sonata_page_content_header %}

    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    {% if isNew %}
                        {{ 'add_new' | trans({}, 'VideInfraCMSBundle') }}
                    {% else %}

                        {% if version %}
                            {{ 'edit_version' | trans({'%version%' : version}, 'VideInfraCMSBundle') }} "{{ page.title }}"
                        {% else %}
                            {{ 'edit' | trans({}, 'VideInfraCMSBundle') }} "{{ page.title }}"
                        {% endif %}

                    {% endif %}
                </a>
            </div>

            <div class="navbar-collapse">
                <div class="navbar-left"></div>
            </div>

            <div class="navbar-blocks"
                data-widget="navbar-blocks">
                <a class="navbar-blocks__previous js-navbar-previous disabled" role="button" aria-disabled="true">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </a>
                <ul class="js-navbar-list">
                    {% if form.blocks.vars.block_prototypes is defined %}

                        {% for type, prototype in form.blocks.vars.block_prototypes %}

                            {% set data = blockTypes[type] %}

                            {% set html %}
                                {{ blocks.block_start(data.label) }}
                                {{ form_widget(prototype) }}
                                {{ blocks.block_end() }}
                            {% endset %}

                            <li>
                                <a class="btn btn-app"
                                data-widget="blocks-add"
                                data-prototype="{{ html|e('html_attr') }}">

                                    <i class="{{ data.icon }}" aria-hidden="true"></i>
                                    <span>{{ data.label }}</span>
                                </a>
                            </li>

                        {% endfor %}
                    {% endif %}
                </ul>
                <a class="navbar-blocks__next js-navbar-next disabled" role="button" aria-disabled="true">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </a>
            </div>

        </div>
    </nav>

{% endblock %}

{% block content %}

    {{ form_start(form) }}

    {% for error in form.vars.errors %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            {{ error.message }}
        </div>
    {% endfor %}

    {% set boxCollapsed = true %}

    <div class="row">

        <div class="col-md-12">

            <div class="box box-primary {% if boxCollapsed %}collapsed-box{% endif %}">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'general' | trans({}, 'VideInfraCMSBundle') }}</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            {% if boxCollapsed %}
                                <i class="fa fa-plus"></i>
                            {% else %}
                                <i class="fa fa-minus"></i>
                            {% endif %}
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    {% if isAdmin %}
                        {{ form_row(form.name) }}
                    {% endif %}

                    {{ form_row(form.active) }}
                    {{ form_row(form.includeInMenu) }}
                    {{ form_row(form.includeInSitemap) }}
                    {{ form_row(form.path) }}

                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="box box-primary {% if boxCollapsed %}collapsed-box{% endif %}">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'seo' | trans({}, 'VideInfraCMSBundle') }}</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            {% if boxCollapsed %}
                                <i class="fa fa-plus"></i>
                            {% else %}
                                <i class="fa fa-minus"></i>
                            {% endif %}
                        </button>
                    </div>
                </div>

                <div class="box-body">
                    {{ form_row(form.translations) }}
                </div>
            </div>
        </div>

    </div>

    {{ blocks.block_list_start() }}

        <h4 class="blocks-list-empty-message">
            {{ 'add_block' | trans({}, 'VideInfraCMSBundle') }}
        </h4>

        {% for block in form.blocks %}

            {% set blockType = block.vars.block_type %}
            {% set blockData = blockTypes[blockType] %}

            {% if blockData %}
                {{ blocks.block_start(blockData.label) }}
                {{ form_widget(block) }}
                {{ blocks.block_end() }}
            {% endif %}

        {% endfor %}

        {% do form.blocks.setRendered() %}

    {{ blocks.block_list_end() }}


    <div class="sonata-ba-form-actions well well-small form-actions">

        {% if version %}
            <button class="btn btn-primary" type="submit" name="publish" value="1">{{ 'publish' | trans({}, 'VideInfraCMSBundle') }}</button>
        {% endif %}

        {% if isNew %}
            <button class="btn btn-success" type="submit" name="create_and_list" value="1">{{ 'create_and_list' | trans({}, 'VideInfraCMSBundle') }}</button>
            <button class="btn btn-success" type="submit" name="create_and_create" value="1">{{ 'create_and_create' | trans({}, 'VideInfraCMSBundle') }}</button>
        {% else %}
            <button class="btn btn-success" type="submit" name="update_and_list" value="1">{{ 'update_and_list' | trans({}, 'VideInfraCMSBundle') }}</button>
            <button class="btn btn-success" type="submit" name="update_and_edit" value="1">{{ 'update_and_edit' | trans({}, 'VideInfraCMSBundle') }}</button>
        {% endif %}
    </div>

    {{ form_end(form) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/videinfracms/blocks/dist/main.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/videinfracms/media/dist/main.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var MEDIA_LIBRARY_URL = '{{ path('media_list', {'select_mode': '1'}) }}';
    </script>
    <script src="{{ asset('bundles/videinfracms/blocks/dist/main.js') }}"></script>
    <script src="{{ asset('bundles/videinfracms/media/dist/main.js') }}"></script>
{% endblock %}