{% set namePrefix = namePrefix|default('') %}
{% set sectionId = sectionId|default('section-' ~ random()) %}

{# Section list which can be inserted #}
{% set sections = [
    {'type': 'text', 'text': 'Text'},
    {'type': 'quote', 'text': 'Quote', 'preview': '/assets/images/temp/previews/social-responsibility.jpg?Quote'},
    {'type': 'group', 'text': 'Homepage', 'children': [
        {'type': 'image', 'text': 'Image', 'preview': '/assets/images/temp/previews/social-responsibility.jpg?Image'},
        {'type': 'image-gallery', 'text': 'Image Gallery', 'preview': '/assets/images/temp/previews/social-responsibility.jpg?ImageGallery'},
        {'type': 'table', 'text': 'Table', 'preview': '/assets/images/temp/previews/social-responsibility.jpg?Table'}
    ]},
    {'type': 'group', 'text': 'About', 'children': [
        {'type': 'image', 'text': 'Image', 'preview': '/assets/images/temp/previews/social-responsibility.jpg?Image'},
        {'type': 'image-gallery', 'text': 'Image Gallery', 'preview': '/assets/images/temp/previews/social-responsibility.jpg?ImageGallery'},
        {'type': 'table', 'text': 'Table', 'preview': '/assets/images/temp/previews/social-responsibility.jpg?Table'}
    ]},
] %}

{# Generate HTML for client-side templating, JS will replace __name__ #}
{% set sectionTextHTML %}
    {% include 'partials/article-edit/section-article/text.twig' with {
        'namePrefix': namePrefix ~ '[translations][__language__][content][__name__]',
        'sectionId': 'section-' ~ random() ~ '-__name__',
        'sections': sections
    } %}
{% endset %}
{% set sectionQuoteHTML %}
    {% include 'partials/article-edit/section-article/quote.twig' with {
        'namePrefix': namePrefix ~ '[translations][__language__][content][__name__]',
        'sectionId': 'section-' ~ random() ~ '-__name__',
        'sections': sections
    } %}
{% endset %}
{% set sectionImageHTML %}
    {% include 'partials/article-edit/section-article/image.twig' with {
        'namePrefix': namePrefix ~ '[translations][__language__][content][__name__]',
        'sectionId': 'section-' ~ random() ~ '-__name__',
        'sections': sections
    } %}
{% endset %}
{% set sectionGalleryHTML %}
    {% include 'partials/article-edit/section-article/gallery.twig' with {
        'namePrefix': namePrefix ~ '[translations][__language__][content][__name__]',
        'sectionId': 'section-' ~ random() ~ '-__name__',
        'sections': sections
    } %}
{% endset %}
{% set sectionTableHTML %}
    {% include 'partials/article-edit/section-article/table.twig' with {
        'namePrefix': namePrefix ~ '[translations][__language__][content][__name__]',
        'sectionId': 'section-' ~ random() ~ '-__name__',
        'sections': sections
    } %}
{% endset %}

{# Global variable with collection HTML to avoid duplication #}
<script>
    window.COLLECTION_DATA = window.COLLECTION_DATA || {};
    COLLECTION_DATA["text"] =          {"html": {{    sectionTextHTML|json_encode|replace({'<': '\u003C'}) }} };
    COLLECTION_DATA["quote"] =         {"html": {{   sectionQuoteHTML|json_encode|replace({'<': '\u003C'}) }} };
    COLLECTION_DATA["image"] =         {"html": {{   sectionImageHTML|json_encode|replace({'<': '\u003C'}) }} };
    COLLECTION_DATA["image-gallery"] = {"html": {{ sectionGalleryHTML|json_encode|replace({'<': '\u003C'}) }} };
    COLLECTION_DATA["table"] =         {"html": {{   sectionTableHTML|json_encode|replace({'<': '\u003C'}) }} };
</script>


<div class="card accordion accordion--expanded"
    data-plugin="accordion"
    data-accordion-active-heading-parent-class-name="ui-dark"
>
    <div class="card__anchor" id="article-content"></div>

    {% include 'partials/section-header.twig' with {
        'title': 'Article Content',
        'id': sectionId,

        'withAccordion': true,
        'expanded': true,
        'accordionExpandedClassName': 'ui-dark',

        'withEditor': true,
    } %}

    <div role="region" aria-labelledby="{{ sectionId }}-title" id="{{ sectionId }}" aria-hidden="false" class="accordion__content card__content"
        {# Add sorting and "Add" / "Remove" functionality #}
        data-plugin="sortableList collection"
        data-sortable-list-invert-swap="true"
    >

        {# Language tabs, duplicate for each content, in the real app this won't be a copy #}
        <div class="tabs-contents">
            {% for languageItem in languages %}
                {% set language = languageItem.id %}

                {# Locale tab content #}
                <div class="tabs-contents__content" {% if not loop.first %}aria-hidden="true"{% endif %} data-tabs-content-id="{{ language }}">
                    {% set sectionNamePrefix = namePrefix ~ '[translations][' ~ language ~ '][content]' %}

                    {# Article content sections #}
                    <div class="card__body card-list card-list--small js-sortable-list-list js-collection-list">

                        {% for section in values.content[language] %}
                            {% set order = loop.index0 %}

                            {% include 'partials/article-edit/section-article/' ~ section.type ~ '.twig' with {
                                'namePrefix': sectionNamePrefix ~ '[' ~ order ~']',
                                'sectionId': null,
                                'values': {'order': order}|merge(section),
                                'sections': sections,
                                'language': language
                            } %}
                        {% endfor %}

                    </div>
                    <footer class="card__footer card__footer--short">
                        {% include 'partials/add-section.twig' with {
                            'sections': sections,
                            'language': language
                        } %}
                    </footer>

                </div>
            {% endfor %}
        </div>

    </div>
</div>
