{# "General" form section #}
{% set sectionId = sectionId|default('section-' ~ random()) %}
{% set values = values|default({}) %}

{% from 'partials/blocks/form_rows.twig' import form_rows %}
{% from 'partials/blocks/form_row.twig' import form_row %}


<div class="card accordion accordion--expanded"
    data-plugin="accordion"
    data-accordion-active-heading-parent-class-name="ui-dark"
>
    <div class="card__anchor" id="general"></div>

    {% include 'partials/section-header.twig' with {
        'title': 'General',
        'id': sectionId,
        
        'withAccordion': true,
        'expanded': true,
        'accordionExpandedClassName': 'ui-dark',
    } %}

    <div role="region" aria-labelledby="{{ sectionId }}-title" id="{{ sectionId }}" aria-hidden="false" class="accordion__content card__content">
        <div class="card__body">

            {# Localized title, duplicate for each content, in the real app this won't be a copy #}
            <div class="tabs-contents">
                {% for languageItem in languages %}
                
                    {# Locale tab content #}
                    <div class="tabs-contents__content" {% if not loop.first %}aria-hidden="true"{% endif %} data-tabs-content-id="{{ languageItem.id }}">

                        {{ form_row({
                            type: 'text',
                            label: 'Article Title',
                            name: namePrefix ~ '[translations][' ~ languageItem.id ~ '][title]',
                            full_name: namePrefix ~ '[translations][' ~ languageItem.id ~ '][title]',
                            value: values.title[languageItem.id]|default(''),
                            required: true,
                            attr: {
                                maxlength: 512,
                            }
                        }) }}

                    </div>
                {% endfor %}
            </div>


            {{ form_rows([
                {
                    type: 'choice',
                    label: 'Article Title',
                    name: namePrefix ~ '[category]',
                    full_name: namePrefix ~ '[category]',
                    value: values.category,
                    choices: [
                        {value: 'a', label: 'Основы'},
                        {value: 'b', label: 'Lorem ipsum'},
                        {value: 'c', label: 'Dolor sit amet'}
                    ],
                    required: true
                },
                {
                    type: 'choice',
                    label: 'Author',
                    name: namePrefix ~ '[author]',
                    full_name: namePrefix ~ '[author]',
                    value: values.author,
                    choices: [
                        {value: 'a', label: 'Андрей Богданов', attr: {'data-image': '/assets/images/temp/select-user.png'} },
                        {value: 'b', label: 'Lorem ipsum', attr: {'data-image': '/assets/images/temp/select-user.png'} },
                        {value: 'c', label: 'Dolor sit amet', attr: {'data-image': '/assets/images/temp/select-user.png'} }
                    ],
                    required: true
                },
                {
                    compound: true,
                    attr: { class: 'form-grid-layout' },
                    children: [
                        {
                            name: namePrefix ~ '[thumbnail]',
                            full_name: namePrefix ~ '[thumbnail]',
                            type: 'image',
                            label: 'Thumbnail',
                            value: values.thumbnail|default({}),
                            required: true,
                        },
                        {
                            name: namePrefix ~ '[background]',
                            full_name: namePrefix ~ '[background]',
                            type: 'image',
                            label: 'Background Image',
                            value: values.background|default({}),
                            required: true,
                        },
                    ]
                },
                {
                    type: 'url',
                    label: 'URL',
                    help: 'Enim reprehenderit reprehenderit minim nisi eu deserunt elit sit nulla.',
                    name: namePrefix ~ '[url]',
                    full_name: namePrefix ~ '[url]',
                    value: values.url,
                    required: true,
                    attr: {
                        prefix: 'academy/'
                    }
                },
                {
                    type: 'datetime',
                    label: 'Publication date',
                    help: 'Enim reprehenderit reprehenderit minim nisi eu deserunt elit sit nulla.',
                    name: namePrefix ~ '[date]',
                    full_name: namePrefix ~ '[date]',
                    value: values.date|default('1900-01-01 00:00:00'),
                    required: true,
                },
            ]) }}

        </div>
    </div>
</div>