{% from 'macros/icon.twig' import icon %}
{% set breadcrumbs = breadcrumbs|default([]) %}

{% if breadcrumbs|length %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb group group--middle group--4 text-small text-color-small">
            {% for breadcrumb in breadcrumbs %}
                {% if breadcrumb.icon|default(false) %}
                    {# Icon #}
                    {% if not loop.last and breadcrumb.url|default(null) %}
                        <li class="breadcrumb__item">
                            <a href="{{ breadcrumb.url }}" aria-label="{{ breadcrumb.text|default('') }}">
                                {{ icon(breadcrumb.icon) }}
                            </a>
                        </li>
                    {% elseif not loop.last and breadcrumb.modalClose|default(false) %}
                        <li class="breadcrumb__item">
                            <a aria-label="{{ breadcrumb.text|default('') }}" class="js-modal-close" role="button" tabindex="0">
                                {{ icon(breadcrumb.icon) }}
                            </a>
                        </li>
                    {% else %}
                        <li class="breadcrumb__item {% if loop.last %}is-active{% endif %}" aria-label="{{ breadcrumb.text|default('') }}" {% if loop.last %}aria-current="page"{% endif %}>
                            {{ icon(breadcrumb.icon) }}
                        </li>
                    {% endif %}
                {% else %}
                    {# Text #}
                    {% if not loop.last and breadcrumb.url|default(null) %}
                        <li class="breadcrumb__item">
                            <a href="{{ breadcrumb.url }}">
                                {{ breadcrumb.text }}
                            </a>
                        </li>
                    {% elseif not loop.last and breadcrumb.modalClose|default(false) %}
                        <li class="breadcrumb__item">
                            <a aria-label="{{ breadcrumb.text|default('') }}" class="js-modal-close" role="button" tabindex="0">
                                {{ breadcrumb.text }}
                            </a>
                        </li>
                    {% else %}
                        <li class="breadcrumb__item {% if loop.last %}is-active{% endif %}" {% if loop.last %}aria-current="page"{% endif %}>
                            {{ breadcrumb.text }}
                        </li>
                    {% endif %}
                {% endif %}

                {% if not loop.last %}
                    <li aria-hidden="true">{{ icon('nav-arrow', {'width': 4, 'height': 10}) }}</li>
                {% endif %}
            {% endfor %}
        </ol>
    </nav>
{% endif %}
