{% block media_image_widget %}

    {% set value = form.vars.value %}
    {% if form.vars.show_label %}
        {{ form_label(form) }}
    {% endif %}

    <div id="{{ id }}_widget" class="form-control-image {% if not value %}form-control-image--empty{% endif %}">

        {{ block('hidden_widget') }}

        <div class="form-control-image__preview well well-small">
            <img src="{{ value }}" alt="" class="{% if not value %}hidden{% endif %}" />
        </div>

        <div class="form-control-image__content">

            {% if form.parent.translations is defined %}
                {{ form_row(form.parent.translations) }}
            {% endif %}


            {% if form.parent.vars.title_name is defined and form.parent[form.parent.vars.title_name] is defined %}
                {{ form_row(form.parent[form.parent.vars.title_name]) }}
            {% endif %}

            <div class="btn-group">
                <a class="btn btn-primary sonata-action-element js-image-change">
                    <span class="form-control-image__not-empty">{{ 'change_image' | trans({}, 'VideInfraCMSBundle') }}</span>
                    <span class="form-control-image__empty">{{ 'select_image' | trans({}, 'VideInfraCMSBundle') }}</span>
                </a>
                <a class="btn btn-danger sonata-action-element js-image-reset">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </a>
            </div>
        </div>

    </div>
    <script>
        $(function () {
            $('#{{ id }}_widget').image();
        });
    </script>
{% endblock %}


{% block media_gallery_widget %}
    <div id="{{ id }}_widget" class="form-control-gallery">

        {% set html %}
            <li>{{ form_widget(form.vars.prototype) }}</li>
        {% endset %}

        <ul class="form-control-gallery__list js-gallery-list" data-prototype="{{ html|e('html_attr') }}">
            {% for field in form %}
                <li>{{ form_widget(field) }}</li>
            {% endfor %}
        </ul>

        <div class="btn-group">
            <a class="btn btn-primary sonata-action-element js-gallery-add">
                <i class="fa fa-plus"></i>
                {{ 'add_image' | trans({}, 'VideInfraCMSBundle') }}
            </a>
        </div>

    </div>
    <script>
        $(function () {
            $('#{{ id }}_widget').gallery();
        });
    </script>
{% endblock %}

{% block vig_collection_widget %}

    <ul id="{{ id }}"
        data-prototype="{{ form_widget(form.vars.prototype)|e }}"
        data-widget-tags="{{ '<li></li>'|e }}">
        {% for item in form %}
            <li>
                {{ form_errors(item) }}
                {{ form_widget(item) }}
            </li>
        {% endfor %}
    </ul>

    <a href="#"
       class="add-another-collection-widget btn btn-default"
       data-list="#{{ id }}">Add item</a>

    <script>
        jQuery(document).ready(function () {
            jQuery('.add-another-collection-widget').click(function (e) {
                e.preventDefault();
                var list = jQuery(jQuery(this).attr('data-list'));
                var counter = list.data('widget-counter') | list.children().length;
                if (!counter) {
                    counter = list.children().length;
                }
                var newWidget = list.attr('data-prototype');
                newWidget = newWidget.replace(/__name__/g, counter);
                counter++;
                list.data(' widget-counter', counter);
                var newElem = jQuery(list.attr('data-widget-tags')).html(newWidget);
                newElem.appendTo(list);
            });
        });
    </script>

{% endblock %}