{% block media_image_widget %}
    <div id="{{ id }}_widget" class="form-control-image">

        {{ block('hidden_widget') }}

        <div class="form-control-image__preview well well-small">
            {% set value = form.vars.value %}
            <img src="{{ value }}" alt="" class="{% if not value %}hidden{% endif %}" />
        </div>

        <div class="form-control-image__content">

            {% if form.parent.translations is defined %}
                {{ form_row(form.parent.translations) }}
            {% endif %}

            <div class="btn-group">
                <a class="btn btn-primary sonata-action-element js-image-change">
                    {{ 'change_image' | trans({}, 'VideInfraCMSBundle') }}
                </a>
                <a class="btn btn-danger sonata-action-element js-image-reset">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </a>
            </div>
        </div>

    </div>
    <script>
        $(function () {
            $('#{{ id }}_widget').image();
        });
    </script>
{% endblock %}


{% block media_gallery_widget %}
    <div id="{{ id }}_widget" class="form-control-gallery">

        {% set html %}
            <li>
                {{ form_widget(form.vars.prototype) }}
            </li>
        {% endset %}

        <ul class="form-control-gallery__list js-gallery-list" data-prototype="{{ html|e('html_attr') }}">
            {% for field in form %}
                <li>
                    {{ form_widget(field) }}
                </li>
            {% endfor %}
        </ul>

        <div class="btn-group">
            <a class="btn btn-primary sonata-action-element js-gallery-add">
                <i class="fa fa-plus"></i>
                {{ 'add_image' | trans({}, 'VideInfraCMSBundle') }}
            </a>
        </div>

    </div>
    <script>
        $(function () {
            $('#{{ id }}_widget').gallery();
        });
    </script>
{% endblock %}