{% set namePrefix = namePrefix|default('') %}
{% set sectionId = sectionId|default('section-' ~ random()) %}
{% set values = values|default({}) %}

{% from 'partials/blocks/form_rows.twig' import form_rows %}


<div class="card card--draggable accordion accordion--expanded js-sortable-list-item js-collection-item" data-plugin="accordion">

    {# Order input, used for backend to know order of sections #}
    <input type="hidden" name="{{ namePrefix }}[order]" value="{{ values.order|default(0) }}" />

    {# Header #}
    {% include 'partials/section-header.twig' with {
        'title': 'Image Gallery',
        'id': sectionId,
        'size': 'small',
        
        'draggable': true,

        'withDeleteOption': true,

        'withActiveToggle': true,
        'active': values.active|default(false),

        'withAccordion': true,
        'expanded': true,
    } %}

    {# Content #}
    <div role="region" aria-labelledby="{{ sectionId }}-title" id="{{ sectionId }}" aria-hidden="false" class="accordion__content card__content">
        <div class="card__body">

            {{ form_rows([
                {
                    name: 'example-gallery',
                    full_name: 'example-gallery',
                    type: 'image_list',
                    label: 'Images',
                    label_attr: {
                        text: '620x620 min'
                    },
                    help: 'Ex in et adipisicing et ad enim eu in eu anim.',
                    minWidth: 620,
                    minHeight: 620,
                    value: values.gallery|default([]),
                    required: true,
                    editable: [
                        {
                            name: 'description',
                            full_name: 'description',
                            type: 'textarea',
                            label: 'Description',
                            attr: {
                                maxlength: 255
                            }
                        },
                    ],
                },
            ]) }}

        </div>
    </div>
</div>