{% set namePrefix = namePrefix|default('') %}
{% set sectionId = sectionId|default('section-' ~ random()) %}
{% set values = values|default({}) %}

{% from 'partials/blocks/form_rows.twig' import form_rows %}


<div class="card card--draggable accordion accordion--expanded js-sortable-list-item js-collection-item" data-plugin="accordion">

    {# Order input, used for backend to know order of sections #}
    <input type="hidden" name="{{ namePrefix }}[order]" value="{{ values.order|default(0) }}" />

    {# Header #}
    {% include 'partials/section-header.twig' with {
        'title': 'Image',
        'id': sectionId,
        'size': 'small',
        
        'draggable': true,

        'withDeleteOption': true,

        'withActiveToggle': true,
        'active': values.active|default(false),

        'withAccordion': true,
        'expanded': true,
    } %}

    {# Content #}
    <div role="region" aria-labelledby="{{ sectionId }}-title" id="{{ sectionId }}" aria-hidden="false" class="accordion__content card__content">
        <div class="card__body">

            {{ form_rows([
                {
                    name: namePrefix ~ '[image]',
                    full_name: namePrefix ~ '[image]',
                    type: 'image',
                    label: 'Image',
                    value: values.image|default({}),
                    required: true,
                    minWidth: 620,
                    minHeight: 620,
                },
                {
                    type: 'textarea',
                    label: 'Description',
                    name: namePrefix ~ '[description]',
                    full_name: namePrefix ~ '[description]',
                    value: values.description|default(''),
                    required: false,
                    attr: {
                        maxlength: 255,
                    }
                },
                {
                    type: 'textarea',
                    label: 'Source',
                    name: namePrefix ~ '[source]',
                    full_name: namePrefix ~ '[source]',
                    value: values.source|default(''),
                    required: false,
                    attr: {
                        maxlength: 600,
                    }
                },
                {
                    compound: true,
                    attr: { class: 'form-grid-layout form-grid-layout--4' },
                    children: [
                        {
                            name: namePrefix ~ '[full-width]',
                            full_name: namePrefix ~ '[full-width]',
                            type: 'switch',
                            label: 'Full width',
                            value: values['full-width']|default('0'),
                            required: true,
                            choices: [
                                { value: '0', label: 'No' },
                                { value: '1', label: 'Yes' },
                            ]
                        }
                    ]
                },
            ]) }}

        </div>
    </div>
</div>
