{% set namePrefix = namePrefix|default('') %}
{% set sectionId = sectionId|default('section-' ~ random()) %}
{% set values = values|default({}) %}

{% from 'partials/blocks/form_rows.twig' import form_rows %}


<div class="card card--draggable accordion accordion--expanded js-sortable-list-item js-collection-item" data-plugin="accordion">

    {# Order input, used for backend to know order of sections #}
    <input type="hidden" name="{{ namePrefix }}[order]" value="{{ values.order|default(0) }}" />

    {# Header #}
    {% include 'partials/section-header.twig' with {
        'title': 'Quote',
        'id': sectionId,
        'size': 'small',

        'draggable': true,

        'withDeleteOption': true,

        'withActiveToggle': true,
        'active': values.active|default(false),

        'withInsertSection': sections|length,
        'sections': sections,
        'language': language,

        'withAccordion': true,
        'expanded': true,
    } %}

    {# Content #}
    <div role="region" aria-labelledby="{{ sectionId }}-title" id="{{ sectionId }}" aria-hidden="false" class="accordion__content card__content">
        <div class="card__body">

            {{ form_rows([
                {
                    name: namePrefix ~ '[text]',
                    full_name: namePrefix ~ '[text]',
                    type: 'textarea',
                    label: 'Quote Text',
                    value: values.text|default(''),
                    required: true,
                    attr: {
                        maxlength: 600
                    }
                },
                {
                    name: namePrefix ~ '[author]',
                    full_name: namePrefix ~ '[author]',
                    type: 'choice',
                    label: 'Author',
                    value: values.author|default('a'),
                    choices: [
                        { value: 'aaa', label: 'Lorem ipsum', attr: {'data-image': '/assets/images/temp/select-user.png'} },
                        { value: 'bbb', label: 'Dolor sit amet', attr: {'data-image': '/assets/images/temp/select-user.png'} },
                        { value: 'ccc', label: 'Cupidatat culpa', attr: {'data-image': '/assets/images/temp/select-user.png'} }
                    ]
                },
            ]) }}

        </div>
    </div>
</div>
