{% set namePrefix = namePrefix|default('') %}
{% set sectionId = sectionId|default('section-' ~ random()) %}
{% set values = values|default({}) %}

{% from 'partials/blocks/form_rows.twig' import form_rows %}


<div class="card card--draggable accordion accordion--expanded js-sortable-list-item js-collection-item" data-plugin="accordion">

    {# Order input, used for backend to know order of sections #}
    <input type="hidden" name="{{ namePrefix }}[order]" value="{{ values.order|default(0) }}" />

    {# Header #}
    {% include 'partials/section-header.twig' with {
        'title': 'Table',
        'id': sectionId,
        'size': 'small',

        'draggable': true,

        'withDeleteOption': true,

        'withActiveToggle': true,
        'active': values.active|default(false),

        'withInsertSection': sections|length,
        'sections': sections,
        'language': language,

        'withAccordion': true,
        'expanded': true,
    } %}

    {# Content #}
    <div role="region" aria-labelledby="{{ sectionId }}-title" id="{{ sectionId }}" aria-hidden="false" class="accordion__content card__content">
        <div class="card__body">


            {{ form_rows([
                {
                    type: 'text',
                    label: 'Table Title',
                    name: namePrefix ~ '[title]',
                    full_name: namePrefix ~ '[title]',
                    value: values.title|default(''),
                    required: false
                },
                {
                    compound: true,
                    attr: { class: 'form-grid-layout form-grid-layout--4' },
                    children: [
                        {
                            type: 'number',
                            label: 'Columns',
                            name: namePrefix ~ '[columns]',
                            full_name: namePrefix ~ '[columns]',
                            value: values.columns|default(2),
                            required: true,
                            attr: {
                                min: 1
                            },
                        },
                        {
                            type: 'number',
                            label: 'Rows',
                            name: namePrefix ~ '[rows]',
                            full_name: namePrefix ~ '[rows]',
                            value: values.rows|default(2),
                            required: true,
                            attr: {
                                min: 1
                            },
                        },
                        {
                            name: namePrefix ~ '[header]',
                            full_name: namePrefix ~ '[header]',
                            type: 'switch',
                            label: 'Multiple choices',
                            value: values.header|default('0'),
                            choices: [
                                { value: '0', label: 'No' },
                                { value: '1', label: 'Yes' },
                            ]
                        }
                    ]
                },
            ]) }}

        </div>
    </div>
</div>
