{% set locale = 'ru' %}

<!DOCTYPE html>
<html dir="ltr" lang="{{ locale }}" class="has-hover no-js">
<head>
    {# Default meta tags #}
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

        <title>{% block title %}{% endblock %}</title>
		<meta name="description" content="{% block description %}{% endblock %}"/>
        {% block meta %}{% endblock %}
        
    {# Favicon #}
		<link rel="shortcut icon" href="/favicon.ico"/>

    {# Manifest #}
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/manifest/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/manifest/favicon-16x16.png" />
        <link rel="apple-touch-icon" href="/assets/manifest/apple-touch-icon.png" />
        <link rel="mask-icon" href="/assets/manifest/safari-pinned-tab.svg" color="#ffffff" />

        <link rel="manifest" href="/assets/manifest/manifest.webmanifest" />
        <meta name="theme-color" content="#0275d8" />
        <meta name="msapplication-config" content="/assets/manifest/browserconfig.xml" />

    {# Mark JS as active, set viewport size variables, this is important for UI to prevent content jumping #}
        <script>
            document.documentElement.classList.remove('no-js');
            document.documentElement.classList.add('js');
        </script>

    {# CSS #}
        <link rel="stylesheet" href="/assets/stylesheets/admin.css" />
        {% block stylesheets %}{% endblock %}

        {# <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet" /> #}
        {# If we are using Google Fonts, uncomment following lines #}
        {% set fontUrl = 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;700' %}
        <link rel="dns-prefetch" href="https://fonts.googleapis.com">
        <link rel="dns-prefetch" href="https://fonts.gstatic.com">
        <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preload" as="style" href="{{ fontUrl }}&display=swap" />
        <link rel="stylesheet" href="{{ fontUrl }}&display=swap" media="print" onload="this.media='all'" />
        <noscript><link rel="stylesheet" href="{{ fontUrl }}&display=swap" /></noscript>

    {# Sonata configuration meta tag #}
        <meta data-sonata-admin='{"config":{"CONFIRM_EXIT":true,"USE_SELECT2":true,"USE_ICHECK":false,"USE_STICKYFORMS":true,"DEBUG":false},"translations":{"CONFIRM_EXIT":"\u0423 \u0432\u0430\u0441 \u0435\u0441\u0442\u044c \u043d\u0435\u0441\u043e\u0445\u0440\u0430\u043d\u0435\u043d\u043d\u044b\u0435 \u0434\u0430\u043d\u043d\u044b\u0435"}}'>
</head>
<body>

    <div class="main-page">
        {% include 'partials/header.twig' %}

        {% block body %}
            <div class="ui-gray-background main-content">
                {% block sidebar %}{% endblock %}
                {% block content %}{% endblock %}
            </div>
        {% endblock %}

        {% include 'partials/footer.twig' %}
    </div>

    {# Modal #}
    {% block modal %}{% endblock %}

    {# JS #}
    <script src="/assets/javascripts/vendor.js"></script> {# @TODO We shouldn't need to do this #}
    <script src="/assets/javascripts/shared.js"></script> {# @TODO We shouldn't need to do this #}

    {% block javascripts %}
        <script src="/assets/javascripts/admin.js"></script>
        <script src="/assets/javascripts/media.js"></script>
        <script src="/assets/javascripts/sonata-admin.js"></script>
    {% endblock %}

    {% if locale != 'en' %}
        {# En locale is built-in #}
        {# <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/locale/{{ locale }}.min.js"></script> #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.8.32/locale/{{ locale }}.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.3/l10n/{{ locale }}.js"></script>
    {% endif %}

</body>
</html>
